h2 {
  text-align: center;
}
div {
  background: rgba(13, 13, 139, 0.918);
  color: rgba(248, 248, 248, 0.918);
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
  box-sizing: border-box;
  width: 40%;
  display: inline-block;
  height: 300px;
  border: 20px solid #000000;
  padding: 10px;
  margin: 0.5% auto;
  margin-top: 1%;
}
footer {
  clear: both;
  background: rgba(247, 124, 9, 0.918);
  height: 100px;
  padding: 10px;
}
a {
  display: block;
  font-weight: lighter;
  background-color: #0006bb;
  width: 200px;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}
/*comments*/
