body {
  background: #000000;
  padding: 2%;
}
header {
  background: #ffffff;
  padding: 5%;
}
h1 {
  background: #ffffff;
  padding: 5%;
}
div {
  color: #000000;
  background: #2db34a;
  line-height: 50px;
  text-align: center;
  width: 450px;
  height: 600px;
  border-radius: 6px;
  transition-property: color, width, background, border-radius;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
}
div:hover {
  color: #ffffff;
  font-size: 120%;
  width: 460px;
  background: #f39b18;
  border-radius: 10%;
}
div:active {
  color: #ffffff;
  font-size: 140%;
  width: 260px;
  background: #f39b18;
  border-radius: 5%;
}

p {
  border: 1px solid whitesmoke;
  width: 50%;
  /*position: static;
  top: 200px;
  left: 200px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;*/
}
